{% extends 'layout.html' %}

{% block content %}
{% from "formhelpers.html" import render_field %}
<div class = 'row'>
        <div class = 'col-md-4'></div>
        <div class = 'col-md-4'>
<div class = 'text-center h1 text-white bg-primary p-2'> Register </div>
          <form method="post" enctype="multipart/form-data">
  <div class = 'container' >
    {{ render_field(form.name, class = 'form-control') }}
    {{ render_field(form.username, class = 'form-control') }}
    {{ render_field(form.email, class = 'form-control') }}
    {{ render_field(form.password, class = 'form-control') }}
    {{ render_field(form.confirm, class = 'form-control') }}
    <input type = 'file' name = 'photo'>

    <p><input type=submit value=Register class = 'btn btn-info mt-2'></p>
</div>
</form>
    </div>
    </div>
</div>
{% endblock content %}